       h1{text-align: center;
        background-color: #11c9c0;
        color: rgb(235, 32, 235);
    }
    h2{
        text-align: center;
        background-color: #6711c9;
        color: rgb(163, 133, 163);
    }
    .header{
        text-align: center;
        background-color: #11c9c0;
        color: rgb(235, 32, 235);
    }
    .textAlign{
        text-align: center;
        background-color: #11c9c0;
        color: rgb(235, 32, 235);
    }